<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app"></div>
    
    <script type="module">
        import { takeInput } from "./input.js";

        import { myButton } from "./button.js";

        import { myCard } from "./card.js";

        import { search } from "./searchComponent.js";

        
        const app = document.createElement("div");
        
        const cardList = ["apple", "mango", "dengu"];
        const searchComponent = search({items:cardList, onUpdate:list});
        const body = document.querySelector("body");
        const card = myCard();

       
        body.appendChild(searchComponent);
        body.appendChild(app)
        


        //takes list and update the ui
        function list(info) {
            app.innerHTML = '';
            info.forEach(element => {
            const card = myCard({cardText:element});
            app.appendChild(card)
        })
    }

        list(cardList);
        

       

       
        
   
        
        
        
    </script>
</body>
</html>